@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.header 
		padding-top: 2.5vw
	.logo
		img 
			width: 17vw
	.menu-btn__row
		width: 5vw
		height: 0.5vw
		margin-bottom: 1vw
	.home-content
		.container
			flex-direction: column
	.page-count
		align-self: center
		margin-top: 5vw
	.h1 
		font-size: 9vw
	.sub-title
		font-size: 3vw
	.button
		padding: 3vw 8vw
		font-size: 2.5vw
	.home-content__wrapper .button
		margin-top: 5vw
	.next-page
		width: 8vw
		height: 8vw
	.prev-page
		width: 5vw
		height: 5vw
		margin-right: 1.5vw
	.page-count
		font-size: 4vw
	.current-page
		font-size: 7vw
	.menu ul li
		width: 33vw
	.menu .sub-menu,
	.menu .sub-sub-menu
		background: #000
	
		position: fixed
		right: 33vw
		top: 0
		transition: all 0.8s
		overflow: hidden
		//display: none
		width: 0
	.menu .sub-menu
		transition-delay: 0.8s
	.menu .sub-sub-menu
		transition-delay: 0s
	.menu .sub-sub-menu
		right: 66vw

	.sub-menu-item .sub-menu.active
		//display: flex
		width: 33vw
		border-right: 1px solid $yellow
	.sub-sub-menu-item .sub-sub-menu.active 
		width: 33vw
		border-right: 1px solid $yellow
	.menu-link
		font-size: 2.4vw
		margin-left: 6vw
		margin-right: 1vw
		padding: 2vw 0vw
	.menu-btn.active .menu-btn__row:nth-child(2)
		top: -1.5vw
	.contact-form
		width: 57vw
	.contact
		padding-top: 15vw
	.label
		font-size: 2.2vw
	.input 
		height: 7vw
	.textarea 
		height: 17vw
	.contact-title
		font-size: 5vw
	.contact-text
		font-size: 2vw
	.contact-item__text
		font-size: 2.5vw
	.contact-item--adress .contact-item__text
		font-size: 1.8vw
	.logo img
		width: 10vw
	.slider-wrapper
		position: static
		margin-top: 5vw
		width: 100vw
	.products 
		padding-bottom: 0
		.h1 
			br 
				display: none
	.slider-wrapper,
	.slider,
	.slick-list,
	.slick-track,
	.slick-slide,
	.slider-item
		min-height: auto
	.product-card
		min-height: auto
	.slide-arrows
		display: none
	.slick-dots
		display: flex
		justify-content: center
		width: 100%
		transform: translateY(-10vw)
		button 
			font-size: 0
			width: 2.5vw
			height: 2.5vw 
			background: transparent 
			border: 1px solid $yellow
			border-radius: 50%
			margin: 0 1vw
			padding: 0
		.slick-active
			button 
				background: $yellow

	.slider-item
		border: none
	.product-image
		max-width: 90vw
		width: 50vw
	.product-card
		padding-bottom: 20vw
	.slider-title
		font-size: 5.5vw
	.buttons-group
		top: 5vw
	.slider-button
		width: 30vw
		height: 6vw
		font-size: 2.2vw
		margin-bottom: 5vw
	.buttons-group
		left: -50vw
	.slider-sub-title
		font-size: 4vw
	.product-card.active
		.product-image
			width: 50vw
			transform: translateX(40vw)
		
		.buttons-group 
			left: 15vw
	.products .next-page
		width: 8vw
		height: 8vw
	.products .prev-page
		width: 5vw
		height: 5vw
	.product-info
		.container 
			flex-direction: column
	.product-info__table-wrapper
		order: 2
		width: 100%
	.product-description
		order: 1
		padding-bottom: 5vw
		width: 100%
	.product-info
		padding-top: 22vw
	.product-title
		font-size: 10vw

	.product-sub-title
		font-size: 4.5vw
		padding: 1.5vw 12vw
		margin-bottom: 6vw
	.product-item__title
		font-size: 3.2vw
		margin-bottom: 2vw
	.product-item__text,
	.product-item li
		font-size: 3vw
	.product-item
		padding-bottom: 5vw
	.product-info__row
		flex-direction: column
	.product-info__col
		flex-direction: column
		display: flex
		width: 100%
	.product-characteristics__button
		order: 2
		margin-bottom: 2vw
		font-size: 3vw
		padding: 1vw 3vw
		img 
			transform: rotate(90deg) translateY(50%)
	.product-img
		order: 1
		max-width: 50vw
		width: 50vw
		transform: translateX(-5vw)
		margin: 5vw auto
		display: block
	.application-button
		font-size: 3vw
		padding: 1vw 5vw
	.product-info__table-wrapper p
		font-size: 3vw
	.product-info__table-container
		width: 100%
	.table-row .table-col:first-child
		width: 29%
	.table-row .table-col:nth-child(2)
		width: 18%
	.table-row .table-col:nth-child(3)
		width: 15%
	.table-row .table-col:nth-child(4)
		width: 15%
	.table-row .table-col:nth-child(5)
		width: 23%
	.product-info__table
		font-size: 2.2vw
	.table-row .table-col
		padding: 2vw 0
	.product-info-arrows
		margin-top: 10vw
		padding-bottom: 10vw
	.product-info__table-wrapper .note 
		font-size: 2.2vw
		margin-top: 5vw
	.product-info__table-wrapper
		padding-top: 5vw 
		padding-bottom: 5vw
	.product-info-arrows .to-product
		margin-right: 4vw
	.product-info__table--4
		font-size: 2vw
		.table-col:first-child 
			width: 28%
		.table-col:nth-child(2)
			width: 15%
		.table-col:nth-child(3),
		.table-col:nth-child(4),
		.table-col:nth-child(5),
		.table-col:nth-child(6)
			width: 12%
		.table-col:nth-child(3),
		.table-col:nth-child(4),
		.table-col:nth-child(5),
		.table-col:last-child
			border-right: none
		.table-col:last-child
			width: 18%
	.product-info__table--3
		font-size: 2vw
		.table-col:first-child 
			width: 28%
		.table-col:nth-child(2)
			width: 15%
		.table-col:nth-child(3),
		.table-col:nth-child(4),
		.table-col:nth-child(5),
		.table-col:nth-child(6)
			width: 12%
		.table-col:nth-child(3),
		.table-col:nth-child(4),
		.table-col:nth-child(5),
		.table-col:last-child
			border-right: none
		.table-col:last-child
			width: 18%
	.product-info__table--5
		.table-col:nth-child(7)
			width: 12%
	.product-info__table--6
		.table-col:nth-child(7),
		.table-col:nth-child(8)
			width: 12%
	.product-img
		max-height: 1000vw
	.social 
		display: flex
		justify-content: flex-start
		a 
			display: block
			margin: 0 
			margin-right: 5vw
		img 
			width: 8vw
	.contact-item__img-wrapper
		margin-right: 2vw


	
	









/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.header 
		padding-top: 5vw
	.logo
		img 
			width: 13vw
	.menu-btn__row
		width: 10vw
		height: 1vw
		margin-bottom: 2vw
	.menu .sub-menu,
	.menu .sub-sub-menu
		position: static
		width: 100%
		height: 0
		transition: all 0.5s 
		transition-delay: 0
		padding-left: 8vw
	.menu .sub-menu.active,
	.menu .sub-sub-menu.active  
		height: auto
		border-right: none
	.menu ul li
		width: 100vw
	.menu-link
		font-size: 6vw
		padding: 4vw 0
	.sub-menu-item .sub-menu.active
		width: 100%
	.sub-sub-menu-item .sub-sub-menu.active
		width: 100%
	.menu-link--sub:before,
	.menu-link--sub-sub:before
		display: none
	.menu-link--sub:after,
	.menu-link--sub-sub:after
		content: '>'
		position: absolute 
		right: -5vw 
		color: $yellow
		top: 50%
		transform: translateY(-50%)
	.menu-link--sub,
	.menu-link--sub-sub
		display: inline-block
	.menu ul
		justify-content: flex-start
	.menu 
		overflow-y: auto
		overflow-x: hidden
		height: 90vh
		padding-top: 20vw
	.menu-btn.active .menu-btn__row:nth-child(2)
		top: -3vw
	.contact .container
		flex-direction: column
	.contact-form
		width: 100%
	.contact
		padding-top: 20vw
	.contact-title
		font-size: 10vw
	.contact-text
		font-size: 5vw
		margin-bottom: 5vw
	.contact-item
		margin-bottom: 8vw
	.contact-item__text
		font-size: 6.5vw
		br 
			display: none
	.contact-item--adress .contact-item__text
		font-size: 5vw 
		br 
			display: block
	.contact-item__img
		max-width: 7vw
	.contact-item__img-wrapper
		width: 11vw
	.form-row
		flex-direction: column
		.input-wrapper 
			width: 100%
	.input
		height: 12vw
		border-radius: 1vw
	.textarea
		height: 25vw
		border-radius: 1vw
	.label
		font-size: 4vw
		margin-bottom: 2vw
	.form-row .input-wrapper
		margin-bottom: 8vw
	.contact-form
		padding-top: 10vw
		padding-bottom: 10vw
	.submit-button 
		font-size: 4vw
		margin-top: 8vw


	




/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px)
	/**/
	.home-content__wrapper
		flex-direction: column
	.home-content__text
		margin-left: 0
		order: 1
	.page-navigation
		order: 2
		margin-top: 5vw
	.home-content
		padding-top: 40vw
	.h1 
		font-size: 12vw
	.sub-title
		font-size: 4vw
	.home-content__wrapper .button
		font-size: 3.2vw
	.button
		padding: 4vw 10vw
		border-radius: 10vw
	.prev-page
		width: 8vw
		height: 8vw
	.next-page
		width: 12vw
		height: 12vw
	.page-navigation
		margin-top: 10vw
	.page-count
		margin-top: 10vw
	.products .next-page
		width: 12vw
		height: 12vw
	.products .prev-page
		width: 8vw
		height: 8vw
	.slider-button
		font-size: 3vw
		width: 33vw
		height: 8vw
	.product-item__title
		font-size: 4vw
	.product-item__text,
	.product-item li
		font-size: 3.8vw
	.product-info
		padding-top: 30vw
	.product-item__title img
		margin-right: 2vw
		width: 1.5vw

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





