@import "vars"
@import "fonts"

//start global style
body
	min-height: 100vh
	background: url('../img/bg.png')	
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	font-family: $campton
	font-weight: 500
	box-sizing: border-box
	margin: 0
	font-size: 0.833vw

	//overflow: hidden
	//max-height: 100vh
.container 
	width: 89.219vw
	margin: 0 auto
a,
a:hover 
	text-decoration: none
//end global style

//start header style
.header 
	position: absolute
	top: 0
	left: 0
	width: 100%
	padding-top: 2.083vw
	.container 
		width: 89.219vw
		
		display: flex
		justify-content: space-between
		align-items: center

.logo
	img 
		width: 5.573vw
.menu-btn__row
	width: 1.875vw
	height: 0.234vw
	background: #fff
	margin-bottom: 0.313vw
	transition: all 0.3s
	border-radius: 1vw
.menu-btn
	cursor: pointer
	z-index: 999
.menu-btn__row:last-child 
	margin-bottom: 0
//end header style

//start home-content style
.home-content 
	padding-top: 23vw
	padding-bottom: 10vw
	color: #fff
	.container 
		display: flex
		justify-content: space-between
.page-count
	font-size: 1.875vw
	font-family: $pn
	font-weight: 700
	color: $yellow
.current-page
	font-size: 3.229vw
	color: #fff
	padding-bottom: 1vw
	border-bottom: 0.365vw solid #fff
	margin-right: 1.406vw
.page-navigation
	display: flex
	align-items: center
.prev-page 
	margin-right: 0.521vw
.prev-page
	width: 3.229vw
	height: 3.229vw
	border: 2px solid #fff
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
	cursor: pointer
.next-page
	width: 4.219vw
	height: 4.219vw
	display: flex
	justify-content: center
	align-items: center
	border: 2px solid $yellow
	border-radius: 50%
.home-content__wrapper
	display: flex
	align-items: flex-start
	.button
		margin-top: 3.8vw
.home-content__text
	margin-left: 4.375vw 
	.h1 

.sub-title
	letter-spacing: 0.285em
	font-size: 1.042vw
	margin-bottom: 0.313vw
	span 
		color: $yellow
.h1 
	text-transform: capitalize
	font-size: 4.167vw
	letter-spacing: -0.06em
	line-height: 111.86%
	margin-bottom: 0
	margin-top: 0
	font-weight: 500
	font-family: $campton
	span 
		font-weight: 300
	.yellow 
		font-weight: 500
		color: $yellow
.button
	background: linear-gradient(89.8deg, #D98B00 0.12%, #FFA400 101.39%)
	box-shadow: 0px 1.563vw 2.604vw 0.104vw rgba(255, 164, 0, 0.3)
	border-radius: 5.208vw
	color: #fff
	font-size: 1.042vw
	font-weight: 600
	letter-spacing: 0.285em
	padding: 1.4vw 4.8vw
	box-sizing: border-box	
	display: inline-block

//end home content style

//start menu style
.menu ul 
	list-style:  none
	padding: 0 
	margin: 0

.menu 
	background: #000 
	position: fixed 
	top: 0 
	right: 0
	height: 100vh
	color: #fff
	z-index: 998
	font-weight: 600
	transform: translateX(100%)
	transition: all 0.5s
	ul 
		height: 100% 
		display: flex
		justify-content: center
		flex-direction: column
		li
			width: 28vw
.menu.active
	transform: translateX(0%)
.menu-link 
	font-size: 1.8vw	
	color: #fff
	text-transform: none
	
	display: block
	padding: 1.5vw 0vw
	margin: 0 4vw
.menu-link--sub,
.menu-link--sub-sub
	position: relative
.menu-link--sub:before,
.menu-link--sub-sub:before
	content: "<"
	position: absolute
	left: 0 
	top: 50%
	transform: translateY(-50%) translateX(-200%)
	color: $yellow
.menu .sub-menu,
.menu .sub-sub-menu
	background: #000
	
	position: fixed
	right: 28vw
	top: 0
	transition: all 0.8s
	overflow: hidden
	//display: none
	width: 0
.menu .sub-menu
	transition-delay: 0.8s
.menu .sub-sub-menu
	transition-delay: 0s
.menu .sub-sub-menu
	right: 56vw

.sub-menu-item .sub-menu.active
	//display: flex
	width: 28vw
	border-right: 1px solid $yellow
.sub-sub-menu-item .sub-sub-menu.active 
	width: 28vw
	border-right: 1px solid $yellow

.sub-menu-item
	position: relative
.menu-btn.active
	.menu-btn__row:last-child 
		display: none
	.menu-btn__row:first-child 
		transform: rotate(45deg)
	.menu-btn__row:nth-child(2) 
		transform: rotate(-45deg)
		position: relative
		top: -0.55vw

//end menu style

//start contact style
.contact
	padding-top: 8vw
	color: #fff
	padding-bottom: 4.792vw
	.container 
		display: flex
		justify-content: space-between
.contact-form 
	width: 56.094vw
	background: rgba(48, 48, 48, 0.5)
	border-radius: 1.042vw
	min-height: 38vw
	padding: 3.750vw 4.115vw 2.917vw 4.323vw
	box-sizing: border-box
.contact-title
	padding-top: 7vw
	padding-bottom: 2.865vw
	font-size: 3.125vw
	font-weight: 700
	color: $yellow
.contact-text
	font-size: 1.042vw
	margin-bottom: 2.552vw
.contact-item
	display: flex
	align-items: center
	margin-bottom: 2.083vw
.contact-item__img-wrapper
	width: 4.427vw
.contact-item__img 
	max-width: 2.083vw

.contact-item__text
	font-size: 1.563vw
	font-weight: 700
	line-height: 1.2
	color: #fff
.contact-item--adress .contact-item__text 
	font-size: 1.042vw
.input-wrapper 
	width: 100%
	margin-bottom: 3.646vw
.form-row
	display: flex
	justify-content: space-between
	.input-wrapper 
		width: 47%

.input,
.textarea 
	width: 100%
	border: 1px solid rgba(255, 255, 255, 0.9)
	background: transparent
	border-radius: 0.260vw
	outline: none
	color: #fff
	padding: 0 2vw
	box-sizing: border-box
	font-size: 1.5vw
.input 
	height: 5vw
.textarea 
	height: 9.583vw
	padding: 1vw 2vw
.label 
	font-size: 1.042vw
	font-weight: 700
	margin-bottom: 0.573vw
	display: block
.contact-form__footer
	display: flex
	justify-content: center
.submit-button
	color: #000
	border: none
	outline: none
	cursor: pointer
//end contact style

//star product-info style

.product-info 
	padding-top: 11.979vw
	color: #fff
	font-size: 0.833vw
	.container 
		display: flex 
		justify-content: space-between
.product-info__table-wrapper
	background: rgba(48, 48, 48, 0.5)
	border: 1px solid #A0A0A0
	box-sizing: border-box
	border-radius: 1.042vw
	width: 58.906vw
	min-height: 41.146vw
	padding: 2.292vw 1.406vw 2.604vw 2.604vw
	p 
		margin-bottom: 1.667vw
.application-button
	background: $yellow
	font-weight: 700
	color: #000
	text-transform: capitalize
	padding: 0.78vw 1.5vw
	border-radius: 5.208vw
	margin-bottom: 1.979vw
	display: inline-block
.product-info__row
	display: flex
	justify-content: space-between
.product-info__col
	width: 12.552vw
	margin-right: 1.094vw
.product-characteristics__button
	display: flex
	align-items: center
	justify-content: space-between
	border: 1px solid #fff
	font-size: 0.729vw
	padding: 0.469vw 0.625vw
	border-radius: 5vw
//end product-info style

.view-all__link
	color: $yellow
	letter-spacing: 0.285em
	margin-top: 1vw
	font-weight: 500
	display: block
.products 
	padding-top: 20vw
	.h1 
		font-weight: 600
		.yellow 
			font-weight: 600
	.prev-page
		width: 2.135vw
		height: 2.135vw
	.next-page
		width: 2.969vw
		height: 2.969vw
.page-navigation
	padding-top: 3vw
.slider-item
	
	border: 1px solid #454545
	box-sizing: border-box	
	box-sizing: border-box
.slider 
	min-height: 100vh
.slick-list,
.slick-track,
.slick-slide,
.slider-item

	min-height: 100vh
.product-card
	width: 100%
	min-height: 90.5vh
	display: flex
	align-items: center
	flex-direction: column
	cursor: pointer
	padding-top: 8vw


.slider-wrapper 
	position: absolute 
	right: 0
	top: 0
	width: 66vw
	backdrop-filter: blur(0.3vw)
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.402) 0%, rgba(77, 77, 77, 0.294) 100%)
	min-height: 100%
.slide-arrows
	display: flex
	align-items: center
	position: absolute
	bottom: 3.646vw
	right: 5.208vw
.prev-slide
	margin-right: 1.615vw
	cursor: pointer
.next-slide 
	cursor: pointer
.slider-title
	font-size: 2.083vw
	font-weight: 600
	text-transform: uppercase
.slider-header
	text-align: center
	margin-bottom: 2vw	
.product-image
	max-width: 23.177vw
.product-card
	overflow: hidden
	transition: all 1s
	.slider-title,
	.product-image
		transition: all 1s
.slider-sub-title
	font-weight: 600
	font-size: 1.823vw
	opacity: 0
	transition: all 1s
.buttons-group
	align-self: flex-start
	position: absolute
	left: -25vw
	transition: all 1s
	top: 2.5vw
	padding-left: 2.240vw
.slider-button
	display: block
	width: 11.563vw
	height: 2.604vw
	box-shadow: 0px 0px 16px 4px rgba(239, 162, 32, 0.46)
	border-radius: 100px
	background: #FFA401
	display: flex 
	justify-content: center
	align-items: center
	margin-bottom: 1.458vw
	font-size: 0.833vw
	color: #000
	font-weight: 600

.product-card__content
	position: relative
	width: 100%
//start products card active
.product-card.active 

	background: url('../img/pc-bg.png')
	background-size: cover 
	background-repeat: no-repeat

	.slider-title
		color: $yellow
	.product-image
		width: 19.531vw
		transform: translateX(12vw)
	.slider-sub-title
		opacity: 1
	.buttons-group
		left: 0
		
		

//end products card active

//start product description style
.tab-item
	font-size: 30px
	color: #fff
.product-description
	width: 27.240vw
.product-title
	font-size: 2.500vw
	font-weight: 700
	margin-bottom: 1.406vw
.product-sub-title
	background: linear-gradient(180deg, #FFA401 0%, rgba(175, 113, 0, 0.85) 100%)
	border-radius: 5.208vw
	display: inline-block
	font-size: 1.302vw
	font-weight: 700
	color: #000
	padding: 0.42vw 4.1vw
	margin-bottom: 2.031vw
.product-item__title
	color: #FFA401
	font-size: 0.938vw
	display: flex
	align-items: center
	margin-bottom: 0.833vw
	img 
		display: block 
		margin-right: 0.208vw
.product-item__text
	margin-bottom: 0.6vw
.product-item
	li 
		margin-bottom: 0.6vw
.product-info
	
.product-img
	max-width: 16.146vw
	transform: translateX(-4vw)
	margin-top: 3.333vw
	display: block
	max-height: 19vw
.product-info__table-container
	width: 41.302vw
	
.table-row
	padding: 0 1.302vw
	width: 100%
	border-bottom: 1px solid #FFFFFF
	display: flex
	box-sizing: border-box
	.table-col
		padding: 0.781vw 0
		text-align: center
	.table-col:first-child 
		width: 11.719vw
		text-align: left
	.table-col:nth-child(2)
		width: 6.667vw
	.table-col:nth-child(3),
	.table-col:nth-child(4)
		width: 5.677vw
		font-weight: 700
		background: #535353
	.table-col:nth-child(5)
		font-weight: 700
		width: 8.6vw

.product-info__table
	font-size: 0.729vw
	font-family: $roboto
	font-weight: 400
.table-header 
	background: #171717
	font-weight: 700
	padding: 0.521vw 1.302vw
	.table-col
		padding: 0 0
		border-right: 1px solid #FFA401
	.table-col:nth-child(3),
	.table-col:nth-child(4)
		background: #171717	
	.table-col:nth-child(5)
		border-right: none
	.table-col:nth-child(3)
		border-right: none
.note
	font-size: 0.729vw
.product-info-arrows
	display: flex
	align-items: center
	width: 100%
	justify-content: flex-end
	padding-bottom: 3.125vw
	.to-product
		margin-right: 0.495vw
		display: block
.tab-item
	display: none
.tab-item:first-child 
	display: block
//end product description style
.product-info__table--4
	.table-col:first-child 
		width: 10vw
	.table-col:nth-child(2)
		width: 5vw
	.table-col:nth-child(3),
	.table-col:nth-child(4),
	.table-col:nth-child(5),
	.table-col:nth-child(6)
		width: 5vw
		background: #535353
		font-weight: 700
	.table-col:nth-child(3),
	.table-col:nth-child(4),
	.table-col:nth-child(5),
	.table-col:last-child
		border-right: none
	.table-col:last-child
		width: 8vw
	.table-header
		.table-col:nth-child(3),
		.table-col:nth-child(4),
		.table-col:nth-child(5),
		.table-col:nth-child(6)
			background: transparent
.product-info__table--3
	.table-col:first-child 
		width: 10vw
	.table-col:nth-child(2)
		width: 5vw
	.table-col:nth-child(3),
	.table-col:nth-child(4),
	.table-col:nth-child(5)
		width: 5vw
		background: #535353
		font-weight: 700
	.table-col:nth-child(3),
	.table-col:nth-child(4),
	.table-col:nth-child(5),
	.table-col:last-child
		border-right: none
	.table-col:last-child
		width: 8vw
	.table-header
		.table-col:nth-child(3),
		.table-col:nth-child(4),
		.table-col:nth-child(5),
		.table-col:nth-child(6)
			background: transparent
.product-info__table--5
	.table-col:nth-child(7)
		background: #535353
		font-weight: 700
		width: 5vw
	.table-header
		.table-col:nth-child(7)
			background: transparent
	.table-col:nth-child(6)
		border-right: none
		
.product-info__table--6
	.table-col:nth-child(7),
	.table-col:nth-child(8)
		background: #535353
		font-weight: 700
		width: 5vw
	.table-header
		.table-col:nth-child(7),
		.table-col:nth-child(8)
			background: transparent
	.table-col:nth-child(6),
	.table-col:nth-child(7)
		border-right: none
@import "media"



